<mat-toolbar color="primary" class="footer">
    <span class="text-mutedf">All Rights Reserved 2023 @</span>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <span>developed by: </span>
    <span class="spacer"></span>
    <span class="text-mutedf">contact me @:</span>
    <a href="https://github.com/arvindsis11" target="_blank">
      
      <i matTooltip="github/arvindsis11" class="fa fa-github fa-2x" aria-hidden="true"></i>
    </a>
    <span class="spacer2"></span>
    <a href="https://www.linkedin.com/in/" target="_blank">
    
      <i matTooltip="linkedin.com/in/arvind-sisodiya" class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
    </a>
  </mat-toolbar>